@media only screen and (max-width: 1024px) {
  .products ul .main-product {
    width: 18%;
  }

  .content-product .content-product-deltals .price .money {
    font-size: 1.5rem;
  }

  .content-product .content-product-deltals {
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .wrapper {
    padding: 1.5rem;
  }
  .img-nav img {
    vertical-align: middle;
    width: 100%;
  }
  nav .content-nav ul li a {
    font-size: 12px;
    padding: 0px 8px;
  }
  nav .content-nav {
    width: 100%;
  }

  .products ul .main-product {
    width: 31%;
  }
  .main-product .content-product .content-product-deltals .price {
    font-size: 18px;
  }
  .products ul .no-margin {
    margin-right: 1rem;
  }

  .products ul .main-product {
    width: 35%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  /* nav */
  .container {
    padding: 0;
  }
  nav {
    width: 100%;
    display: flex;
  }
  .header__navbar-item--strong {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .img-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-nav img {
    padding-top: 0.5rem;
    vertical-align: middle;
    width: 90%;
  }
  .content-nav,
  .item_menu form button {
    right: 10px;
  }
  /* wrapper */
  .wrapper {
    padding: 1rem;
  }
  .products {
    margin-top: 3rem;
  }
  .products ul .main-product {
    width: 100%;
  }

  .ds {
    display: none;
  }
  .header__search-input {
    width: 180px;
  }
  .app__container .grid {
    display: none;
  }
  .products ul .img-product img {
    margin: 0;
  }
  .header__cart {
    display: none;
  }
  .header__search {
    flex: 0;
  }

  .header-with-search {
    justify-content: space-around;
  }
  .header__logo {
    width: auto;
  }
}
/*tablet*/
